<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=thislisting.title%></title>
</head>
<body>
    
</body>
</html>
<ul>
    <li><%=thislisting.title%></li>
    <li><%=thislisting.description%></li>
    <li>&#8377;<%=thislisting.price.toLocaleString('en-IN')%></li>
    <li><%=thislisting.location%></li>
    <li><%=thislisting.country%></li>
</ul>